Repository exosphere-project/exosphere: changes, and which pre-commit hooks are due for each by the changed paths.
All: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: elm-test
        name: elm-test
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run test

      - id: elm-analyse
        name: elm-analyse
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:analyse

      - id: elm-review
        name: elm-review
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:review

      - id: elm-format
        name: elm-format
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:format

      - id: prettier
        name: format javascript
        language: system
        files: \.(js|mjs|cjs|jsx|ts|tsx|html|css)$
        pass_filenames: false
        entry: npm run js:format

      - id: typecheck
        name: typecheck javascript
        language: system
        files: \.(js|mjs|cjs|jsx|ts|tsx)$
        pass_filenames: false
        entry: npm run js:typecheck

open port 443 in the default security group rules
  src/OpenStack/SecurityGroupRule.elm
Due: elm-test, elm-analyse, elm-review, elm-format

carry the IPv6 warning into the list and retire it once IPv6 answers
  src/Helpers/Interaction.elm
  src/Page/ServerList.elm
  tests/Tests/Helpers/Helpers.elm
  tests/Tests/Helpers/Interaction.elm
Due: elm-test, elm-analyse, elm-review, elm-format

remove the directGuacamole cloud config flag
  ansible/playbook.yml
  docs/config-options.md
  src/Helpers/GetterSetters.elm
  src/Helpers/GuacamoleEndpoint.elm
  src/Helpers/Helpers.elm
  src/Helpers/Interaction.elm
  src/OpenStack/SecurityGroupRule.elm
  src/Orchestration/GoalServer.elm
  src/Page/ImageList.elm
  src/Page/InstanceTypeList.elm
  src/Page/SecurityGroupDetail.elm
  src/Page/ServerCreate.elm
  src/Page/ServerDetail.elm
  src/Page/ServerSecurityGroups.elm
  src/State/Init.elm
  src/State/State.elm
  src/Types/HelperTypes.elm
  src/View/Helpers.elm
  tests/Tests/Helpers/GuacamoleEndpoint.elm
  tests/Tests/Helpers/Interaction.elm
  types.d.ts
Due: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

skip the automatic floating IP when IPv6 will do
  src/Helpers/Helpers.elm
  tests/Tests/Helpers/Helpers.elm
Due: elm-test, elm-analyse, elm-review, elm-format

let one IPv6 failure settle it for the whole session
  src/Helpers/ExoSetupStatus.elm
  src/Helpers/Helpers.elm
  src/Helpers/Interaction.elm
  src/State/State.elm
  src/Types/Guacamole.elm
  tests/Tests/Helpers/Helpers.elm
  tests/Tests/Helpers/Interaction.elm
Due: elm-test, elm-analyse, elm-review, elm-format

follow the instance's addresses from a script instead of the play
  ansible/roles/caddy/files/exosphere-caddy-addresses.service
  ansible/roles/caddy/files/exosphere-caddy-addresses.timer
  ansible/roles/caddy/handlers/main.yml
  ansible/roles/caddy/tasks/Debian.yml
  ansible/roles/caddy/tasks/RedHat.yml
  ansible/roles/caddy/tasks/main.yml
  ansible/roles/caddy/templates/Caddyfile.j2
  ansible/roles/caddy/templates/exosphere-caddy-addresses.j2
Due: none

open 443 on TACC and bring the docs up to date
  cloud_configs.js
  docs/direct-guacamole.md
  src/OpenStack/SecurityGroupRule.elm
Due: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

keep a working Caddyfile through a metadata outage or a refused reload
  ansible/roles/caddy/files/exosphere-caddy-addresses.timer
  ansible/roles/caddy/tasks/main.yml
  ansible/roles/caddy/templates/exosphere-caddy-addresses.j2
Due: none

keep IPv6 reachable once it has answered, and stop overclaiming
  docs/direct-guacamole.md
  docs/user-app-proxy.md
  src/State/State.elm
  tests/Tests/Helpers/Helpers.elm
Due: elm-test, elm-analyse, elm-review, elm-format

run Caddy unconfined by SELinux on Rocky
  ansible/roles/caddy/tasks/RedHat.yml
  docs/direct-guacamole.md
Due: none

feat: add proxy rules for swift object storage to uap template conf
  deploy/prod/main-server/nginx/templates/app.conf.template
Due: none

Tighten the ACL revoke docstrings and the folder length copy after review
  src/OpenStack/ObjectStorage.elm
  src/Rest/Swift.elm
  tests/Tests/OpenStack/ObjectStorage.elm
  tests/Tests/Rest/Swift.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Revoke a container ACL with both the empty set header and the remove header
  src/OpenStack/ObjectStorage.elm
  src/Page/ObjectStorageContainerDetail.elm
  src/Rest/Swift.elm
  tests/Tests/OpenStack/ObjectStorage.elm
  tests/Tests/Page/ObjectStorageContainerDetail.elm
  tests/Tests/Rest/Swift.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Check the full placeholder object name when creating a folder
  src/OpenStack/ObjectStorage.elm
  src/Page/ObjectStorageContainerDetail.elm
  tests/Tests/OpenStack/ObjectStorage.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Pin the exact byte boundary of the new folder length check
  tests/Tests/OpenStack/ObjectStorage.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Open the container action confirmations leftwards from the Actions menu
  src/Page/ObjectStorageContainerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format
