Repository exosphere-project/exosphere: changes, and which pre-commit hooks are due for each by the changed paths.
All: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

elm-test:
  name: elm-test
  language: system
  pass_filenames: false
  entry: npm run test

elm-analyse:
  name: elm-analyse
  language: system
  pass_filenames: false
  entry: npm run elm:analyse

elm-review:
  name: elm-review
  language: system
  pass_filenames: false
  entry: npm run elm:review

elm-format:
  name: elm-format
  language: system
  pass_filenames: false
  entry: npm run elm:format

prettier:
  name: format javascript
  language: system
  pass_filenames: false
  entry: npm run js:format

typecheck:
  name: typecheck javascript
  language: system
  pass_filenames: false
  entry: npm run js:typecheck

docs: minor e2e test note for python compatibility
  integration-tests/README.md
Due: none

fix: docker errors affecting local development
  Dockerfile
  docker/standalone.Dockerfile
  docker/start-docker-dev.sh
Due: none

docs: update instructions for running exosphere in development
  docs/run-exosphere.md
  docs/style.md
Due: none

build: switch to @lydell/elm to support linux_arm64
  package-lock.json
  package.json
Due: none

build: version.json file during postprocessing based on config.js
  .gitlab-ci.yml
  Dockerfile
  deploy/prod/main-server/build.sh
  docker/standalone.Dockerfile
  postprocess.js
  version.json
Due: prettier, typecheck

feat: add browser refresh to the about page
  src/Page/HelpAbout.elm
  src/State/State.elm
  src/Types/OuterMsg.elm
  src/View/View.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add variant to underline text widget
  src/DesignSystem/Stories/Text.elm
  src/Style/Widgets/Text.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: fetch & store latest app version in the model
  src/Rest/ApiModelHelpers.elm
  src/Rest/AppVersion.elm
  src/State/Init.elm
  src/State/State.elm
  src/State/Subscriptions.elm
  src/Types/AppVersion.elm
  src/Types/SharedModel.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: displaying no floating ip yet message when we expect assignment
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: remove bind mount for legacy explorer.js file
  docker/start-docker-dev.sh
Due: none

Handle partitioned volumes when automounting
  ansible/roles/auto-mount-volumes/files/99-exosphere-automount-volume.rules
  ansible/roles/auto-mount-volumes/files/automount-volume.py
Due: none

refactor: target status out of exoProps into project serverExoActions
  src/Helpers/GetterSetters.elm
  src/LocalStorage/LocalStorage.elm
  src/Orchestration/Helpers.elm
  src/Page/ProjectOverview.elm
  src/Page/SecurityGroupDetail.elm
  src/Page/ServerDetail.elm
  src/Page/ServerList.elm
  src/Rest/Nova.elm
  src/State/State.elm
  src/Types/Project.elm
  src/Types/Server.elm
  src/View/Helpers.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: persist exo server target status
  src/LocalStorage/LocalStorage.elm
  src/LocalStorage/Types.elm
  src/OpenStack/Types.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: add a prototype for the next local storage version
  src/LocalStorage/LocalStorage.elm
  src/LocalStorage/Types.elm
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: chain stored state decoders to make migrations easier
  src/LocalStorage/LocalStorage.elm
  src/LocalStorage/Types.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Explicitly set $HOME for vncpasswd shell command
  ansible/roles/vnc-server/tasks/main.yml
Due: none

Replace nvidia-smi query logic for finding GPU utilization
  ansible/roles/system-load-logging/files/system_load_json.py
Due: none

feat: track server exo action request
  src/LocalStorage/LocalStorage.elm
  src/OpenStack/ServerActions.elm
  src/Page/ServerDetail.elm
  src/Rest/Nova.elm
  src/State/State.elm
  src/Types/Server.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: encode rdpp for local storage of server exo action request
  src/Helpers/RemoteDataPlusPlus.elm
  src/LocalStorage/LocalStorage.elm
  src/Rest/Helpers.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: show alert banners to recover from failed server actions
  src/Helpers/GetterSetters.elm
  src/Page/ServerDetail.elm
  src/State/Error.elm
  src/State/State.elm
  src/Style/Widgets/Alert.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

cmart emeritus status
  docs/governance.md
Due: none

Revert usage of udevadm --json output
  ansible/roles/auto-mount-volumes/files/automount-volume.py
Due: none

Support multiple GPUs in load graphs
  ansible/roles/system-load-logging/files/system_load_json.py
  src/Helpers/ServerResourceUsage.elm
  src/Page/ServerResourceUsageCharts.elm
  src/Style/Helpers.elm
  src/Types/ServerResourceUsage.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Fix automounting volumes for older udev versions
  ansible/roles/auto-mount-volumes/files/automount-volume.py
Due: none

feat: show gui tag on servers we expect to have guac desktop
  src/Helpers/Interaction.elm
  src/Page/ServerDetail.elm
  src/Page/ServerList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: tag widget from unexpectedly inheriting font styles from parents
  src/Style/Widgets/Tag.elm
Due: elm-test, elm-analyse, elm-review, elm-format

test: do local performance testing using playwright & lighthouse
  .env.example
  .gitignore
  .prettierignore
  package.json
  performance-tests/.auth/.gitignore
  performance-tests/.gitignore
  performance-tests/auth.spec.mjs
  performance-tests/check.spec.mjs
  performance-tests/performance.spec.mjs
  performance-tests/playwright.config.mjs
  performance-tests/reports/.gitignore
  performance-tests/screenshots/.gitignore
Due: prettier, typecheck

build(deps): add playwright & lighthouse as optional dependencies
  package-lock.json
  package.json
Due: none

chore: update the privacy policy with latest maintainers & instructions
  docs/privacy-policy.md
Due: none

chore: update copyright notice for Exosphere Foundation
  LICENSE
Due: none

docs: add vulnerability disclosure policy
  README.md
  docs/governance.md
  docs/vulnerability-disclosure.md
  mkdocs/mkdocs.yml
Due: none

feat: add a connectivity warning to the server detail page
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: app version update to use helpers
  src/Helpers/Helpers.elm
  src/Page/HelpAbout.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: show app update available banner
  src/Helpers/Helpers.elm
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add a preference for display app version update notifications
  src/LocalStorage/LocalStorage.elm
  src/LocalStorage/Types.elm
  src/Page/Settings.elm
  src/State/Init.elm
  src/State/State.elm
  src/Types/SharedMsg.elm
  src/View/Types.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: server detail page waiting for security groups after server create
  src/Orchestration/GoalServer.elm
Due: elm-test, elm-analyse, elm-review, elm-format

docs: add performance testing readme
  README.md
  mkdocs/mkdocs.yml
  performance-tests/README.md
  performance-tests/playwright.config.mjs
Due: prettier, typecheck

docs: fix mkdocs alias for performance tests
  mkdocs/mkdocs.yml
  mkdocs/src/performance-tests
Due: none

feat: localize IPv6 addresses as publicly routeable ip
  src/Helpers/Cidr.elm
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: make fixed ipv6 server addresses copyable
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Path conditions:
  elm-test: any of: \.elm$
  elm-analyse: any of: \.elm$
  elm-review: any of: \.elm$
  elm-format: any of: \.elm$
  prettier: any of: \.(js|mjs|cjs|jsx|ts|tsx|html|css)$
  typecheck: any of: \.(js|mjs|cjs|jsx|ts|tsx)$
