Repository exosphere-project/exosphere: changes, and which pre-commit hooks are due for each by the changed paths.
All: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: elm-test
        name: elm-test
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run test

      - id: elm-analyse
        name: elm-analyse
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:analyse

      - id: elm-review
        name: elm-review
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:review

      - id: elm-format
        name: elm-format
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:format

      - id: prettier
        name: format javascript
        language: system
        files: \.(js|mjs|cjs|jsx|ts|tsx|html|css)$
        pass_filenames: false
        entry: npm run js:format

      - id: typecheck
        name: typecheck javascript
        language: system
        files: \.(js|mjs|cjs|jsx|ts|tsx)$
        pass_filenames: false
        entry: npm run js:typecheck

Use elm-watch instead of elm-live
  .gitlab-ci.yml
  elm-watch.json
  package-lock.json
  package.json
Due: none

Automatically apply terser during optimized builds
  .gitlab-ci.yml
  elm-watch.json
  package.json
  postprocess.ts
Due: prettier, typecheck

fix: console icon always looks enabled
  src/DesignSystem/Explorer.elm
  src/Helpers/Interaction.elm
  src/Page/ServerDetail.elm
  src/Page/ServerList.elm
  src/Style/Widgets/Icon.elm
  src/Types/Interaction.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: adopt arrow function & const in js where appropriate
  ports.js
  service-worker.js
Due: prettier, typecheck

feat: add port for acquiring & holding web locks
  ports.js
  src/Helpers/WebLock.elm
  src/Ports.elm
  src/State/State.elm
  src/State/Subscriptions.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

feat: request a web lock for ensuring default security groups
  src/Rest/Neutron.elm
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: tracking security group actions to include the default sg
  src/Rest/Neutron.elm
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: release web lock when done updating default security group
  src/Helpers/GetterSetters.elm
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

chore: remove web lock console logs
  ports.js
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

refactor: security group tagging to explicitly add or remove tags
  src/OpenStack/Types.elm
  src/Page/SecurityGroupDetail.elm
  src/Rest/Neutron.elm
  src/State/State.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: tag a security group’s creator
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: remove instance of widget button
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add button for manually provisioning server hostname
  src/Helpers/GetterSetters.elm
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: create server record sets when floating ip is created
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: delete server record sets with floating ips when shelving
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: create server record sets when floating ip is assigned
  src/Rest/Designate.elm
  src/Rest/Neutron.elm
  src/State/State.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: create a dns record for hostname on request
  src/Helpers/GetterSetters.elm
  src/OpenStack/DnsRecordSet.elm
  src/Page/ServerDetail.elm
  src/State/State.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: delete server record sets when floating ip is unassigned
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: request share types to determine manila support
  src/Helpers/GetterSetters.elm
  src/LocalStorage/LocalStorage.elm
  src/OpenStack/Shares.elm
  src/OpenStack/Types.elm
  src/Orchestration/GoalShare.elm
  src/State/State.elm
  src/Types/Project.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: data dependent for use as a general type
  src/Helpers/GetterSetters.elm
  src/Page/ServerSecurityGroups.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: prevent share creation with message if share type not supported
  src/Helpers/GetterSetters.elm
  src/Page/ShareCreate.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: show an unsupported protocol alert for non-CephFS share details
  src/Page/ShareDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: weblock to use a project specific message
  src/Helpers/WebLock.elm
  src/State/State.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add text button variant for plain borderless button
  src/DesignSystem/Explorer.elm
  src/Page/FloatingIpAssign.elm
  src/Page/MessageLog.elm
  src/Style/Widgets/Button.elm
  src/Style/Widgets/DataList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Remove Rocky Linux 8 instance type from Jetstream2 configuration in cloud_configs.js
  cloud_configs.js
Due: prettier, typecheck

build: upgrade elm to patch version 0.19.1-6
  package-lock.json
  package.json
Due: none

fix: standalone docker ci jobs with newer elm tooling
  Dockerfile
  docker/standalone.Dockerfile
  docker/start-docker-dev.sh
Due: none

build: use postprocess.js to avoid typescript errors
  docker/standalone.Dockerfile
  docker/start-docker-dev.sh
  elm-watch.json
  postprocess.js
Due: prettier, typecheck

feat: add uuid label to floating ip list page
  src/Page/FloatingIpList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add uuid label to image list page
  src/Page/ImageList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add uuid label to security group list page
  src/Page/SecurityGroupList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add uuid label to share list page
  src/Page/ShareList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add bulk delete action to floating ips list
  src/Page/FloatingIpList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: delete bulk popconfirm into the view helper
  src/Page/FloatingIpList.elm
  src/Page/ServerList.elm
  src/View/Helpers.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add bulk delete action to volume list
  src/Page/VolumeList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add bulk delete action to share list
  src/Page/ShareList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: data list widget layout with bulk actions but no filters
  src/Style/Widgets/DataList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add bulk delete action to ssh keypair list
  src/Page/KeypairList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add bulk delete action to image list
  src/Page/ImageList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add bulk delete action to security group list
  src/Page/SecurityGroupList.elm
Due: elm-test, elm-analyse, elm-review, elm-format
