Repository exosphere-project/exosphere: changes, and which pre-commit hooks are due for each by the changed paths.
All: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: elm-test
        name: elm-test
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run test

      - id: elm-analyse
        name: elm-analyse
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:analyse

      - id: elm-review
        name: elm-review
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:review

      - id: elm-format
        name: elm-format
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:format

      - id: prettier
        name: format javascript
        language: system
        files: \.(js|mjs|cjs|jsx|ts|tsx|html|css)$
        pass_filenames: false
        entry: npm run js:format

      - id: typecheck
        name: typecheck javascript
        language: system
        files: \.(js|mjs|cjs|jsx|ts|tsx)$
        pass_filenames: false
        entry: npm run js:typecheck

fix(quotas): do not enforce resize quotas for missing flavors
  src/Helpers/FlavorLimits.elm
  src/Page/ServerResize.elm
  tests/Tests/Helpers/FlavorLimits.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix(ui): apply aria disabled to quota-disabled flavours
  src/View/Helpers.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat(limits): log custom resource config problems on first load
  src/Helpers/UnifiedLimits.elm
  src/State/State.elm
  tests/Tests/Helpers/UnifiedLimits.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat(limits): constrain multi-create by unified limits
  src/Helpers/FlavorLimits.elm
  src/Helpers/UnifiedLimits.elm
  src/OpenStack/Quotas.elm
  src/OpenStack/Types.elm
  src/Page/ServerCreate.elm
  src/Page/ServerResize.elm
  tests/Tests/Helpers/FlavorLimits.elm
  tests/Tests/Helpers/UnifiedLimits.elm
  tests/Tests/OpenStack/Quotas.elm
Due: elm-test, elm-analyse, elm-review, elm-format

chore: git & prettier ignore zed ide settings
  .gitignore
  .prettierignore
Due: none

Request containers when the project overview loads
  src/State/ViewState.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Fix objects loading copy and hide folder placeholder rows
  src/OpenStack/ObjectStorage.elm
  src/Page/ObjectStorageContainerDetail.elm
  src/State/State.elm
  tests/Tests/OpenStack/ObjectStorage.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Complete comments truncated by an earlier cleanup
  src/OpenStack/ObjectStorage.elm
  src/Page/ObjectStorageContainerDetail.elm
  src/Page/ObjectStorageList.elm
  tests/Tests/OpenStack/ObjectStorage.elm
  tests/Tests/Page/ObjectStorageContainerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Add a localization term for object storage objects
  environment-configs/jetstream2.exosphere.app-config.js
  environment-configs/rescloud.iu.edu-config.js
  review/src/NoHardcodedLocalizedStrings.elm
  src/Page/ObjectStorageContainerDetail.elm
  src/Page/ObjectStorageList.elm
  src/State/State.elm
  src/Types/Defaults.elm
  src/Types/Flags.elm
  src/Types/HelperTypes.elm
  tests/Tests/Page/ObjectStorageContainerDetail.elm
  types.d.ts
Due: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

Replace leftover em dashes in object storage comments
  src/OpenStack/Types.elm
  src/Rest/Helpers.elm
  src/Rest/Swift.elm
  src/Route.elm
  src/Style/Widgets/DataList.elm
  tests/Tests/Rest/Keystone.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Align container detail header with other resource pages
  src/Page/ObjectStorageContainerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Move container creation to its own page
  src/Page/ObjectStorageContainerCreate.elm
  src/Page/ObjectStorageContainerDetail.elm
  src/Page/ObjectStorageList.elm
  src/Route.elm
  src/State/State.elm
  src/State/ViewState.elm
  src/Types/OuterMsg.elm
  src/Types/View.elm
  src/View/Breadcrumb.elm
  src/View/PageTitle.elm
  src/View/View.elm
  tests/Tests/Route.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Move the S3 client tile above the container list
  src/Page/ObjectStorageList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Unify copy buttons in the CopyableText widget
  src/DesignSystem/Stories/CopyableText.elm
  src/Page/ObjectStorageContainerDetail.elm
  src/Page/ObjectStorageList.elm
  src/Style/Widgets/CopyableText.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Only claim a container's access state when the headers say it
  src/OpenStack/ObjectStorage.elm
  src/Page/ObjectStorageContainerDetail.elm
  tests/Tests/OpenStack/ObjectStorage.elm
  tests/Tests/Page/ObjectStorageContainerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Drop the info card access fact when the headers cannot say
  src/Page/ObjectStorageContainerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Give the breadcrumb room for its descenders
  src/Page/ObjectStorageContainerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Only blame the application credential for a 403 when there is one
  src/Page/ObjectStorageList.elm
  tests/Tests/Page/ObjectStorageList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Fold the per-object error check into bulkDeleteSucceeded
  src/OpenStack/ObjectStorage.elm
  src/State/State.elm
  tests/Tests/OpenStack/ObjectStorage.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Gate object storage creation on experimental features
  src/View/View.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Document the object storage object localization
  docs/config-options.md
Due: none

Trim the container deletion confirmation
  src/Page/ObjectStorageContainerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Document the object storage feature gate
  docs/object-storage.md
Due: none

Correct object storage routing and row comments
  src/Route.elm
  src/Style/Widgets/DataList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Describe current object storage behavior in comments
  src/Page/ObjectStorageContainerDetail.elm
  src/Style/Widgets/IconButton.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Localize the container name placeholder
  src/Page/ObjectStorageContainerCreate.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Scope the docs and a docstring to what the experimental gate actually hides
  docs/object-storage.md
  src/Page/ObjectStorageContainerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

add a directGuacamole option to cloud-specific config
  docs/config-options.md
  docs/direct-guacamole.md
  mkdocs/mkdocs.yml
  src/Helpers/GetterSetters.elm
  src/State/Init.elm
  src/Types/HelperTypes.elm
  types.d.ts
Due: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

check the right port for connectivity in each Guacamole mode
  src/Helpers/Connectivity.elm
  src/Page/SecurityGroupDetail.elm
  src/Page/ServerCreate.elm
  src/Page/ServerDetail.elm
  src/Page/ServerSecurityGroups.elm
  src/View/Helpers.elm
Due: elm-test, elm-analyse, elm-review, elm-format

harden address discovery and restarts in the caddy role
  ansible/roles/caddy/handlers/main.yml
  ansible/roles/caddy/tasks/main.yml
  ansible/roles/caddy/templates/Caddyfile.j2
Due: none

refactor: add buildDirectUrl for reaching a host without a proxy
  src/Helpers/Url.elm
  tests/Tests/Helpers/Url.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: build Guacamole URLs through GuacEndpoint
  src/Helpers/Interaction.elm
  src/Orchestration/GoalServer.elm
Due: elm-test, elm-analyse, elm-review, elm-format

resolve a direct Guacamole endpoint when the cloud allows it
  src/Helpers/Cidr.elm
  src/Helpers/GuacamoleEndpoint.elm
  src/Helpers/Interaction.elm
  src/Orchestration/GoalServer.elm
  tests/Tests/Helpers/Cidr.elm
  tests/Tests/Helpers/GuacamoleEndpoint.elm
Due: elm-test, elm-analyse, elm-review, elm-format

document the IPv6 preference and the floating IP prompt
  docs/config-options.md
  docs/direct-guacamole.md
Due: none

refactor: add a GuacEndpoint type describing how to reach Guacamole
  src/Helpers/Connectivity.elm
  src/Helpers/GuacamoleEndpoint.elm
  src/OpenStack/SecurityGroupRule.elm
  tests/Tests/Helpers/GuacamoleEndpoint.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: rename endpoint type and simplify IPv6 bracketing
  src/Helpers/GuacamoleEndpoint.elm
  src/Helpers/Url.elm
  src/Orchestration/GoalServer.elm
  tests/Tests/Helpers/GuacamoleEndpoint.elm
  tests/Tests/Helpers/Url.elm
Due: elm-test, elm-analyse, elm-review, elm-format

add a caddy role serving guacamole over https on the instance
  ansible/playbook.yml
  ansible/roles/caddy/tasks/main.yml
  ansible/roles/caddy/templates/Caddyfile.j2
Due: none

prefer IPv6 in direct Guacamole mode and detect browsers without it
  src/Helpers/GuacamoleEndpoint.elm
  src/Helpers/Helpers.elm
  src/Helpers/Interaction.elm
  src/Orchestration/GoalServer.elm
  src/Orchestration/Orchestration.elm
  src/Page/ServerDetail.elm
  src/Page/ServerList.elm
  src/State/Init.elm
  src/State/State.elm
  src/Types/Guacamole.elm
  src/Types/Interaction.elm
  src/Types/Ipv6Reachability.elm
  src/Types/SharedModel.elm
  src/Types/SharedMsg.elm
  src/View/View.elm
  tests/Tests/Helpers/GuacamoleEndpoint.elm
Due: elm-test, elm-analyse, elm-review, elm-format

record TLS support in exoGuac instance metadata
  src/Helpers/Helpers.elm
  src/State/State.elm
  src/Types/Guacamole.elm
  tests/Tests/Helpers/Helpers.elm
Due: elm-test, elm-analyse, elm-review, elm-format

offer Guacamole on clouds that use direct connections
  src/Page/ImageList.elm
  src/Page/InstanceTypeList.elm
Due: elm-test, elm-analyse, elm-review, elm-format
