Repository exosphere-project/exosphere: changes, and which pre-commit hooks are due for each by the changed paths.
All: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: elm-test
        name: elm-test
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run test

      - id: elm-analyse
        name: elm-analyse
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:analyse

      - id: elm-review
        name: elm-review
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:review

      - id: elm-format
        name: elm-format
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:format

      - id: prettier
        name: format javascript
        language: system
        files: \.(js|mjs|cjs|jsx|ts|tsx|html|css)$
        pass_filenames: false
        entry: npm run js:format

      - id: typecheck
        name: typecheck javascript
        language: system
        files: \.(js|mjs|cjs|jsx|ts|tsx)$
        pass_filenames: false
        entry: npm run js:typecheck

feat: add flavor filter to server list
  src/Page/ServerList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add uuid search to image list
  src/Page/ImageList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add name or uuid search to volume list
  src/Page/VolumeList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add name or uuid search to share list
  src/Page/ShareList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add name or uuid search to security group list
  src/Page/SecurityGroupList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add address or uuid search to floating ip list
  src/Page/FloatingIpList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: filter instances using name or uuid search
  src/Page/ServerList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: ignore hyphens, underscores, whitespace in datalist search
  src/Style/Widgets/DataList.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: don’t show exouser for native ssh on non-exosphere instances
  review/suppressed/NoUnused.CustomTypeConstructors.json
  src/Helpers/Interaction.elm
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: displaying image name for volume-backed instances
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: display unnamed image uuid in full on server detail page
  src/Page/ServerDetail.elm
  src/View/Helpers.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: requesting a server image when the server data is available
  src/Rest/Nova.elm
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: connectivity helper to accommodate any ethernet type
  src/Helpers/Connectivity.elm
  tests/Tests/Helpers/Connectivity.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add a connectivity warning to the server create page
  src/Helpers/Connectivity.elm
  src/Page/ServerCreate.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: delete record sets cmd typo
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: improve non-exo ssh warning wording
  src/Helpers/Interaction.elm
Due: elm-test, elm-analyse, elm-review, elm-format

perf: request share types once on init since they very rarely change
  src/Orchestration/GoalShare.elm
  src/Rest/ApiModelHelpers.elm
  src/State/Init.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: improve unsupported share wording to suggestion manual mounting
  src/Page/ShareDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: add support for txt type dns records
  src/OpenStack/DnsRecordSet.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: don’t raise errors for unsupported dns record types
  src/OpenStack/DnsRecordSet.elm
  src/Rest/Designate.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor: receive assign floating ip into a server message
  src/Rest/Neutron.elm
  src/State/State.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

perf: skip trying to create a dns record if we know it exists
  src/Rest/Designate.elm
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

fix: disable hostname & ip un/assign buttons on server transition states
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add helper to guess image ssh usernames
  src/Helpers/Image.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: try display an ssh username for non-exo instances based on image
  src/Helpers/Interaction.elm
Due: elm-test, elm-analyse, elm-review, elm-format

add Kyle Tee as maintainer
  docs/governance.md
Due: none

fix(ci): replacement of version, etc. in config.js
  .gitlab-ci.yml
Due: none

fix(ci): cloud init checking out a branch or commit
  src/ServerDeploy.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add cloud config for dns zones
  src/State/Init.elm
  src/Types/HelperTypes.elm
  types.d.ts
Due: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

feat: use cloud config dns zone template to get the default zone
  src/Helpers/GetterSetters.elm
  src/Page/ServerDetail.elm
  src/State/State.elm
Due: elm-test, elm-analyse, elm-review, elm-format

docs: update cloud configs with dns zones
  cloud_configs.js
  docs/config-options.md
Due: prettier, typecheck

build: add a shim for testing version flag in development
  ports.js
  postprocess.js
Due: prettier, typecheck

feat(ci): set user-facing app version as short commit sha in config
  .gitlab-ci.yml
Due: none

feat: improve formatting of cloud CORS proxy server url
  src/Page/HelpAbout.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: display exosphere version on the about page
  src/Page/HelpAbout.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add version to the application config & flags
  config.js
  docs/config-options.md
  environment-configs/docker-config.js
  environment-configs/jetstream2.exosphere.app-config.js
  environment-configs/rescloud.iu.edu-config.js
  environment-configs/try-dev.exosphere.app-config.js
  environment-configs/try.exosphere.app-config.js
  src/Page/HelpAbout.elm
  src/State/Init.elm
  src/Types/Flags.elm
  src/Types/SharedModel.elm
  types.d.ts
Due: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

build: add typescript config for elm-watch-node postprocess file
  tsconfig.elm-watch.json
Due: none

fix: use project cloud name for support requests to include region
  src/Page/GetSupport.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat: add exosphere app version to support request emails
  src/Page/GetSupport.elm
Due: elm-test, elm-analyse, elm-review, elm-format

test: e2e version config & seeing it in the ui
  .gitlab-ci.yml
  integration-tests/README.md
  integration-tests/features/exosphere.feature
  integration-tests/features/steps/steps.py
Due: none
