Repository exosphere-project/exosphere: changes, and which pre-commit hooks are due for each by the changed paths.
All: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: elm-test
        name: elm-test
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run test

      - id: elm-analyse
        name: elm-analyse
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:analyse

      - id: elm-review
        name: elm-review
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:review

      - id: elm-format
        name: elm-format
        language: system
        files: \.elm$
        pass_filenames: false
        entry: npm run elm:format

      - id: prettier
        name: format javascript
        language: system
        files: \.(js|mjs|cjs|jsx|ts|tsx|html|css)$
        pass_filenames: false
        entry: npm run js:format

      - id: typecheck
        name: typecheck javascript
        language: system
        files: \.(js|mjs|cjs|jsx|ts|tsx)$
        pass_filenames: false
        entry: npm run js:typecheck

docs: amend ai policy to require co-authored-by
  docs/ai-policy.md
Due: none

Correct memo about sort order
  README.md
Due: none

Add newline for key hyperlink
  README.md
Due: none

Apply corrections, suggestions
  README.md
  contributing.md
Due: none

Acknowledge contributions; outline approach
  README.md
  contributing.md
Due: none

Fix console log layout
  src/Page/ServerConsoleLog.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Handle mangled ANSI console sequences
  src/Page/ServerConsoleLog.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Move "Console Log" button to Interactions tile
  src/Helpers/Interaction.elm
  src/Page/ServerDetail.elm
  src/Types/Interaction.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Alter label text for log lines visible
  src/Page/ServerConsoleLog.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Adjust console log line controls
  src/Page/ServerConsoleLog.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Show server console logs
  assets/css/console-log.css
  elm.json
  index.html
  src/OpenStack/ConsoleLog.elm
  src/Page/ServerConsoleLog.elm
  src/Page/ServerDetail.elm
  src/Route.elm
  src/State/State.elm
  src/State/ViewState.elm
  src/Types/OuterMsg.elm
  src/Types/SharedMsg.elm
  src/Types/View.elm
  src/View/Breadcrumb.elm
  src/View/PageTitle.elm
  src/View/View.elm
Due: elm-test, elm-analyse, elm-review, elm-format, prettier

test: e2e localised strings to fix jetstream post deploy
  integration-tests/features/exosphere.feature
  integration-tests/features/steps/steps.py
Due: none

test: e2e fix for case insensitive labels & apostrophes
  integration-tests/features/steps/steps.py
Due: none

test: e2e other login methods path to fix jetstream post deploy
  integration-tests/features/exosphere.feature
  integration-tests/features/steps/steps.py
Due: none

build(ci): bump node to 24.x after deprecation warning
  integration-tests/docker/SeleniumChromeAndExosphere/Dockerfile
  integration-tests/docker/SeleniumFirefoxAndExosphere/Dockerfile
Due: none

Add optional OpenStack credential injection on launch
  src/Helpers/Credentials.elm
  src/Helpers/Helpers.elm
  src/Page/ServerCreate.elm
  src/ServerDeploy.elm
  src/State/State.elm
  src/Types/HelperTypes.elm
  tests/Tests/Helpers/Credentials.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Handle partial Cinder volume image metadata
  src/OpenStack/Volumes.elm
  tests/Tests/OpenStack/Volumes.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Address code review feedback
  src/Helpers/Interaction.elm
  src/Page/ServerConsoleLog.elm
  src/Page/ServerDetail.elm
  src/Types/Interaction.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Make "Console Log" clickable for certain Server Statuses
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Apply elm-format to ServerConsoleLog.elm
  src/Page/ServerConsoleLog.elm
Due: elm-test, elm-analyse, elm-review, elm-format

build(deps): side load vito/elm-ansi to remove indirect dependencies
  elm.json
  elm.sideload.json
Due: none

Configure IU ResCloud flavors
  cloud_configs.js
Due: prettier, typecheck

Phase 1: dynamic-UI extension card (POC metadata transport, behind experimental flag)
  review/src/ReviewConfig.elm
  src/CloudShield/Card.elm
  src/CloudShield/Discovery.elm
  src/CloudShield/README.md
  src/CloudShield/Transport.elm
  src/JsonRender.elm
  src/JsonRender/Expr.elm
  src/JsonRender/Render.elm
  src/JsonRender/Spec.elm
  src/Page/ServerDetail.elm
  tests/Tests/CloudShield/Card.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Fix 3 correctness bugs from adversarial review
  src/CloudShield/Card.elm
  src/CloudShield/Discovery.elm
  src/CloudShield/Transport.elm
  tests/Tests/CloudShield/Card.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Extension card: dark theme for jr-* renderer styles (match Exosphere)
  src/CloudShield/Card.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Extension card: gate on the discovery sentinel (self-instance placement, §5.1)
  src/Page/ServerDetail.elm
Due: elm-test, elm-analyse, elm-review, elm-format

Extension card: live findings (prune fix), results to FindingsTable wiring, man.body manifest key, demo iframe panel
  cloudshield-integration-options.excalidraw
  cloudshield-integration-review-brief.md
  src/CloudShield/Card.elm
  src/CloudShield/Discovery.elm
  tests/Tests/CloudShield/Card.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat(limits): add requests & models for registered & applied unified limits
  src/LocalStorage/LocalStorage.elm
  src/OpenStack/Types.elm
  src/OpenStack/UnifiedLimits.elm
  src/State/State.elm
  src/State/ViewState.elm
  src/Types/Project.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat(usages): add requests & models for placement api usages
  src/LocalStorage/LocalStorage.elm
  src/OpenStack/Types.elm
  src/OpenStack/UnifiedLimits.elm
  src/State/State.elm
  src/State/ViewState.elm
  src/Types/Project.elm
  src/Types/SharedMsg.elm
Due: elm-test, elm-analyse, elm-review, elm-format

feat(limits): add cloud config for custom resource display names
  cloud_configs.js
  docs/config-options.md
  docs/prod-deploy-maint.md
  src/State/Init.elm
  src/Types/HelperTypes.elm
  types.d.ts
Due: elm-test, elm-analyse, elm-review, elm-format, prettier, typecheck

feat(limits): add getting the placement api endpoint from the catalogue
  src/Helpers/Helpers.elm
  src/LocalStorage/LocalStorage.elm
  src/Types/Project.elm
Due: elm-test, elm-analyse, elm-review, elm-format

refactor(limits): use resource name type to disambiguate limits & usage
  src/OpenStack/Types.elm
  src/OpenStack/UnifiedLimits.elm
Due: elm-test, elm-analyse, elm-review, elm-format
